<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="index.html">
	<system.webServer>
	  <staticContent>
		<clientCache cacheControlMode="DisableCache" cacheControlMaxAge="0.00:00:00" />
   
	  </staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="-1" />
			</customHeaders>
		</httpProtocol>  
	</system.webServer>
	</location>
    <system.webServer>
		<rewrite>
			<rules>
	<rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
				<rule name="Rewrite Text Requests" stopProcessing="true">
					<match url=".*" />
						<conditions>
							<add input="{HTTP_METHOD}" pattern="^GET$" />
							<add input="{HTTP_ACCEPT}" pattern="^text/html" />
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						</conditions>
						<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
        </rewrite>
    </system.webServer>
</configuration>