<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8080/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="sharad.gaikwad02@metro-gsc.in">
                <network defaultCredentials="false" host="viruswall.mgi.de" password="MetroIndia123456789$" userName="sharad.gaikwad02@metro-gsc.in" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
