<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<httpErrors existingResponse="PassThrough" />
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8080/{R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>
            </rules>
        </rewrite>
		
    </system.webServer>
	
</configuration>
